@*<script src="~/Scripts/bootbox.min.js"></script>*@
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/Angular/Framework/angular.min.js"></script>
<script src="~/Scripts/Angular/Services/BooksWebApi.js"></script>
<script src="~/Scripts/Angular/Controllers/booksApp.js"></script>

<script>
    $(function () {
        console.log("Iniciando app");
        var appDiv = document.getElementById('booksApp');
        var app = angular.element(appDiv);
        app.scope().startApp();
        console.log("app iniciada");
    });
</script>
<div id="booksApp" data-ng-app="booksApp" data-ng-controller="booksController" ng-cloak>
    <div class="jumbotron">
        <h1>Catalogo</h1>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-6 col-xs-6">
            <label class="control-label">Buscar</label>
            <div class="input-group">
                <input type="text" class="form-control"
                       ng-model="filter" />

                <a class="btn btn-default btn-sm input-group-addon"
                       ng-click="clearFilter()">
                    <i class="fa fa-expand"></i>Limpiar
                </a>
                <span class="input-group-addon">
                    <a class="btn btn-primary" data-target="#vistaDetail" data-toggle="modal"
                       ng-click="newEntrada()">
                        <i class="fa fa-pencil"></i>&nbsp;Nuevo
                    </a>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-3">
            <label class="control-label">Total de Registros: {{ booksData.length }}</label>
            <div class="input-group">
            </div>
        </div>
        @*<div class="form-group col-md-3 col-sm-3 col-xs-3">
                <label class="control-label"></label>
                <div class="input-group">
                    <button class="btn default btn-sm" data-target="#vistaDetail" data-toggle="modal"
                            ng-click="newEntrada()" ng-show="control.btns.Nuevo.show">
                        <i class="fa fa-pencil"></i>&nbsp;Nuevo
                    </button>
                </div>
            </div>*@

    </div>
    <br />
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr scope="row">
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Extracto</th>
                    <th scope="col">Cantidad de Paginas</th>
                    <th scope="col">Fecha Publicacion</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in booksData  | filter:filterGeneral" scope="row">
                    <td scope="col">
                        {{ p.ID}}
                    </td>
                    <td scope="col">
                        {{ p.Title}}
                    </td>
                    <td scope="col">
                        {{ p.Description}}
                    </td>
                    <td scope="col">
                        {{ p.Excerpt.substring(0,100)}}
                    </td>
                    <td scope="col">
                        {{ p.PageCount}}
                    </td>
                    <td scope="col">
                        {{ (p.PublishDate+"").substring(0,10)}}
                    </td>
                    <td scope="col">
                        <button type="button" class="btn btn-primary" data-target="#vistaDetail" data-toggle="modal" ng-click="setSelectedEntity(p.ID)">
                            Detail
                        </button>
                    </td>
                    <td scope="col">
                        <button type="button" class="btn btn-danger" ng-click="deleteEntrada(p.ID)">
                            Descartar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade in" id="vistaDetail" tabindex="-1" role="dialog" aria-labelledby="Data" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" ng-show="model.ID > 0">Detail</h5>
                    <h5 class="modal-title" id="exampleModalLabel" ng-show="!(model.ID  > 0)">New book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">ID</label>
                            <div class="input-group">
                                <input type="number" class="form-control"
                                       style="width:100%"
                                       ng-disabled="true"
                                       ng-model="model.ID" />
                            </div>
                        </div>
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">Title</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       style="width:100%"
                                       ng-disabled="control.fieldsReadOnly"
                                       ng-model="model.Title" />
                            </div>
                        </div>
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">Description</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       style="width:100%"
                                       ng-disabled="control.fieldsReadOnly"
                                       ng-model="model.Description" />
                            </div>
                        </div>
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">Excerpt</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       style="width:100%"
                                       ng-disabled="control.fieldsReadOnly"
                                       ng-model="model.Excerpt" />
                            </div>
                        </div>
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">PageCount</label>
                            <div class="input-group">
                                <input type="number" class="form-control"
                                       style="width:100%"
                                       ng-disabled="control.fieldsReadOnly"
                                       ng-model="model.PageCount" />
                            </div>
                        </div>
                        <div class="form-group col-md-5 col-sm-6 col-xs-6">
                            <label class="control-label">PublishDate</label>
                            <div class="input-group">
                                <input type="date" class="form-control"
                                       style="width:100%"
                                       ng-disabled="control.fieldsReadOnly"
                                       ng-model="model.PublishDate" />
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="!control.btns.Cancelar.show">Cerrar</button>
                <button ng-click="cancelEntrada()" data-dismiss="modal" ng-show="control.btns.Cancelar.show" class="btn default btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;Cancelar
                </button>
                <button ng-click="editEntrada()" ng-show="control.btns.Editar.show && model.ID > 0" class="btn btn-success btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;Editar
                </button>
                <button ng-click="saveEntrada()" ng-show="control.btns.Guardar.show" class="btn btn-success btn-sm">
                    <i class="fa fa-pencil"></i>&nbsp;Guardar
                </button>
                @*<button type="button" class="btn btn-primary">Guardar</button>*@
            </div>
            @*<div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>*@
        </div>
    </div>
</div>    